src/main/resources/jaxb/jacoco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="class">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="method" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="counter" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="sourcefilename" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourcefile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="line" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="counter" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="counter">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="missed" use="optional"/>
          <xs:attribute type="xs:string" name="covered" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="method">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="counter" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="desc" use="optional"/>
      <xs:attribute type="xs:string" name="line" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="line">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="nr" use="optional"/>
          <xs:attribute type="xs:int" name="mi" use="optional"/>
          <xs:attribute type="xs:int" name="ci" use="optional"/>
          <xs:attribute type="xs:int" name="mb" use="optional"/>
          <xs:attribute type="xs:int" name="cb" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sessioninfo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="id"/>
          <xs:attribute type="xs:string" name="start"/>
          <xs:attribute type="xs:string" name="dump"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="package">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="class" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="sourcefile"/>
        <xs:element ref="counter" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="report">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sessioninfo"/>
        <xs:element ref="package" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="counter" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>