src/main/resources/jaxb/saga.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="coverage" type="coverageType">
    <xs:annotation>
      <xs:documentation> Generated using saga-core (http://timurstrekalov.github.com/saga/saga-core/) version 1.5.4 </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="sourcesType">
    <xs:sequence>
      <xs:element type="xs:string" name="source"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="number" use="optional"/>
        <xs:attribute type="xs:string" name="hits" use="optional"/>
        <xs:attribute type="xs:string" name="branch" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="linesType">
    <xs:sequence>
      <xs:element type="lineType" name="line" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classType">
    <xs:sequence>
      <xs:element type="xs:string" name="methods"/>
      <xs:element type="linesType" name="lines"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="filename" use="optional"/>
    <xs:attribute type="xs:string" name="line-rate" use="optional"/>
    <xs:attribute type="xs:string" name="branch-rate" use="optional"/>
    <xs:attribute type="xs:string" name="complexity" use="optional"/>
  </xs:complexType>
  <xs:complexType name="classesType">
    <xs:sequence>
      <xs:element type="classType" name="class" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="packageType">
    <xs:sequence>
      <xs:element type="classesType" name="classes"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="line-rate"/>
    <xs:attribute type="xs:string" name="branch-rate"/>
    <xs:attribute type="xs:string" name="complexity"/>
  </xs:complexType>
  <xs:complexType name="packagesType">
    <xs:sequence>
      <xs:element type="packageType" name="package"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coverageType">
    <xs:sequence>
      <xs:element type="sourcesType" name="sources"/>
      <xs:element type="packagesType" name="packages"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="branch-rate"/>
    <xs:attribute type="xs:string" name="branches-covered"/>
    <xs:attribute type="xs:string" name="branches-valid"/>
    <xs:attribute type="xs:string" name="complexity"/>
    <xs:attribute type="xs:string" name="line-rate"/>
    <xs:attribute type="xs:string" name="lines-valid"/>
    <xs:attribute type="xs:string" name="lines-covered"/>
    <xs:attribute type="xs:string" name="timestamp"/>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
</xs:schema>